.heading {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  text-align: center;
}

h1 {
  color: orange;
  font-size: 3rem;
  margin-bottom: 8px;
}
p {
  max-width: 700px;
  color: rgba(54, 52, 52, 0.781);
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 70px;
}
.slider-section {
  margin-top: 130px;
  margin-left: 70px;
  padding: 3rem 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  transform: translateX(30%);
  transition: all 0.6s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.slide.active {
  opacity: 1;
  transform: translateX(0%);
  position: relative;
}

.slider-image img {
  width: 100%;
  max-width: 500px;
  max-height: 1000px;
  object-fit: cover;
}

.slider-content {
  flex: 1;
  padding: 0 2rem;
  margin-left: 100px;
}

.slider-content h2 {
  color: #ff7a00;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.slider-content p {
  font-size: 1.1rem;
  color: #565454d6;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: left;
}

.learn-more {
  background-color: #ff7a00;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more:hover {
  background-color: #e65f00;
}

.slider-buttons {
  position: absolute;
  left: 45%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  gap: -10px;
}

.slider-buttons button {
  background-color: #ff7a00;
  border: none;
  padding: 20px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 1s ease;
}

.slider-buttons button:hover {
  background-color: #e65f00;
}

/* Responsive */
@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    text-align: center;
  }

  .slider-content {
    padding: 1rem;
  }

  .slider-buttons {
    bottom: 10px;
    transform: translate(-10%, -550%);
  }
}
